<?php
//Get username
$user = $_GET('u');
?>
<html>
    <head>
        <title>Chatroom</title> 
        <link rel ='stylesheet' type='text/css' href='css/style.css'/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav>
            <a href="/dashboard">Dashboard</a> |
            <a>Community Chatroom</a> |
            <a href="/">Logout</a>
        </nav>
        <div class='chatContainer'>
           <div class='chatHeader'>
                <h3> Midwest Groupchat <%=@region%></h3>
           </div>
          <div class='chatMessages'></div>
          <div class='chatBottom'>
            <form action'#' onSubmit='return false;' id='chatForm' method="POST">
                <input type='hidden' id='name' value='<?php echo $user; ?>'/>
                <input type="radio" name="gender" value="male"> Congratulations! You did it!<br>
                <input type="radio" name="gender" value="female"> Nice job! Keep Going!<br>
                <input type="radio" name="gender" value="other"> Remember to resist the urge!<br>
                <button type="submit">Post</button>
            </form>
          </div>
        </div>
    </body>
</html>