<!DOC html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav>
            <a>Dashboard</a> |
            <a href="/chatroom">Community Chatroom</a> |
            <a href="/">Logout</a>
        </nav><br>
        
        <h2>Welcome back <%=@username%>.</h2>
        <h3>Today's Stats:</h3>
       <div class="wrapper dashboardBody">
            <div class="box a">
                <p>TOTAL</p>
                <h1>13<h1>
            </div>
            <div class="box b">TRIGGER:
                <button>COFFEE</button>
                <button>DRINKING</button>
                <button>AFTER A MEAL</button>
                <button>PAYING BILLS</button>
                <button>DRIVING</button>
                <button>PAYING BILLS</button>
                <button>RECREATION</button>
                <button>SADNESS</button>
            </div>
            <div class="box e">
                <p>SUMMARY:<br><br>THESE ARE THE TRIGGERS: </p>
            </div>
            <div class="inner-grid">
                    <div class="box f"><h1>15</h1>DAYS REMAINING</div>
                    <div class="box g">LIMIT TO ONE CIGARETTE EVERY TWO HOURS!</div>
                    <div class="box h">MAKE A CONSCIOUS EFFORT</div>
                    <div class="box i">CIGARETTES AVOIDED<h1>19</h1></div>
                <div class="box c">STARTED
                    <p><h1>13</h1>DAYS AGO</p>
                </div>
                <div class="box d">
                    <p><h1>$45.00</h1>SAVED</p>
                </div>
            </div>
        </div> 
    </body>
</html>


