<!DOC html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/css/style1.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="topnav">
            <a class="active">Dashboard</a>
            <a href="/chatroom">Community Chatroom</a>
            <a href="/">Logout</a>
        </nav><br>
        <div class="content">
        <h2>Welcome back <%=@username%>.</h2>
        <h3>Today's Stats:</h3>
       <div class="wrapper dashboardBody">
            <div class="box a">
                <p>TOTAL</p>
                <h1>13<h1>
            </div>
            <div class="box b">TRIGGER: 
                <button>COFFEE</button>
                <button>DRINKING</button>
                <button>AFTER A MEAL</button>
                <button>PAYING BILLS</button>
                <button>DRIVING</button>
                <button>PAYING BILLS</button>
                <button>RECREATION</button>
                <button>SADNESS</button>
            </div>
            <div class="inner-grid">
                    <div class="box f"><h1>15</h1>DAYS REMAINING</div>
                    <div class="box g"><center>LIMIT TO ONE CIGARETTE EVERY TWO HOURS!</center></div>
                    <div class="box h"><center><br><br>MAKE A CONSCIOUS EFFORT!</center></div>
                    <div class="box i">CIGARETTES AVOIDED<h1>19</h1></div>
                <div class="box c">STARTED
                    <p><h1>13</h1>DAYS AGO</p>
                </div>
                <div class="box d">
                    <p><h1>$45.00</h1>SAVED</p>
                </div>
                <div class="box e">
                <p>SUMMARY:<br><br>THESE ARE THE TRIGGERS: </p>
            </div>
            </div>
        </div> 
        </div>
    </body>
    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4><center>Questions or Concerns?</center></h4>
            <div><center>Contact
                <a href="">Us</a>
            </center></div>
        </div>
        <div class="w3-container w3-theme-l1">
          <p><center>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></center></p>
          <p><center>© 2018 Kode with Klossy Detroit</center></p>
        </div>
    </footer>
</html>


