<!--Use HTML-->
<!DOCTYPE html>
<html>
    <head>
        <link rel ='stylesheet' type='text/css' href='css/style1.css'/>
        <title>TobacNO</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="content">
        <nav class="topnav">
          <a class="active"><strong>Home</strong></a>
          <a href="/whyquit">Why Quit Smoking</a>
          <a href="/ourmethod">Our Method</a>
          <a href="/login">Login</a> 
        </nav>
        <br><br>
        <div class="margin">
        <center><h1>TobacNO</h1></center>
        <h2>FEATURES</h2>
            <h4>FULL TIME ACTIVITY TRACKER PACK</h4><br><br><br>
             <h4>DAILY REMINDERS TO KEEP YOU ON TRACK</h4><br><br><br>
            <h4>FULL TIME ONLINE COMMUNITY GROUP</h4><br><br><br>
            <h4>PERSONALIZED GOALS</h4><br><br><br>
    </body>
    </div>
    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4><center>Questions or Concerns?</center></h4>
            <div><center>Contact
                <a href="">Us</a>
            </center></div>
        </div>
        <div class="w3-container w3-theme-l1">
          <p><center>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></center></p>
          <p><center>© 2018 Kode with Klossy Detroit</center></p>
        </div>
    </footer>
</html>
