<!--Use HTML-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <title>TobacNO</title>
    </head>
    <body>
        <nav class="horizontalNav">
            <a><strong>Home</strong></a> |
            <a href="/whyquit">Why Quit Smoking</a> |
            <a href="/ourmethod">Our Method</a> |
            <a href="/login">Login</a> 
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center><h1>FEATURES</h1></center>
            <center><h3>FULL TIME ACTIVITY TRACKER PACK</h3></center>
            <center><h3>FULL TIME ONLINE COMMUNITY GROUP</h3></center>
            <center><h3>DAILY REMINDERS TO KEEP YOU ON TRACK</h3></center>
            <center><h3>PERSONALIZED GOALS</h3></center>
    </body>
</html>




<style>
    body {
    background-image: url("https://static1.squarespace.com/static/586ac29c03596e5605382fe5/5876a3e65016e15c31333943/5890f0dc44024360fd2472e8/1530650658430/Glacier+Blue.jpg?format=2500w");
}
center{
    display:block;
    color:black;
    font:20px Fjalla One;
}
</style>