<!DOCTYPE html>
<html>
    <head>
        <link rel ='stylesheet' type='text/css' href='css/style1.css'/>
        <title>Our Method</title> 
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="content">
        <nav class="topnav">
            <a href="/">Home</a>
            <a href="/whyquit">Why Quit Smoking</a>
            <a class="active"><strong>Our Method</strong></a>
            <a href="/login">Login</a> 
        </nav>
        <div class="margin">
        <p><center><h1>Our Method</h1>For many, the process of quitting smoking is a long one. We believe in full customization of specific steps to reach that 
        goal. We propose a plan called the 30 day challenge that focuses on key points to get you on the road of recovery.</center></p>
        <dl>
            <center><dt><h3>Week 1</h3></dt></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette per hour</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week 2</h3></dt></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every two hours</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week </h3></dt></center>
                <center><dd>Switch to light cigarettes and if you have already, switch to ultra light</dd></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every three hours</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week 4</h3></dt></center>
                <center><dd>Switch or continue with ultra light</dd></center>
                <center><d>Try to delay the first cigarette of the day as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every four hours</dd></center>
            </dt>
        </dl>
    </body>
    </div>
        <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4><center>Questions or Concerns?</center></h4>
            <div><center>Contact
                <a href="">Us</a>
            </center></div>
        </div>
        <div class="w3-container w3-theme-l1">
          <p><center>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></center></p>
          <p><center>© 2018 Kode with Klossy Detroit</center></p>
        </div>
    </footer>
</html>


