<!DOCTYPE html>
<html>
    <head>
       <title>Our Method</title> 
      
    </head>
    <body background = "https://www.publicdomainpictures.net/pictures/120000/velka/watercolor-bokeh-pastel-background.jpg">
        <nav class="horizontalNav">
            <a href="/">Home</a> |
            <a href="/whyquit">Why Quit Smoking</a> |
            <a><strong>Our Method</strong></a> |
            <a href="/login">Login</a> 
        </nav>
        <p><center><h1>Our Method</h1>For many, the process of quitting smoking is a long one. We believe in full customization of specific steps to reach that 
        goal. We propose a plan called the 28 day challenge that focuses on key points to get you on the road of recovery.</center></p>
        <dl>
            <center><dt><h3>Week 1</h3></dt></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette per hour</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week 2</h3></dt></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every two hours</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week </h3></dt></center>
                <center><dd>Switch to light cigarettes and if you have already, switch to ultra light</dd></center>
                <center><dd>Try to delay the first cigarette of the day for as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every three hours</dd></center>
                <center><dd>Make a conscious effort to stay away from cigarettes</dd></center>
            <center><dt><h3>Week 4</h3></dt></center>
                <center><dd>Switch or continue with ultra light</dd></center>
                <center><dd>Try to delay the first cigarette of the day as long as possible</dd></center>
                <center><dd>Try to limit to one cigarette every four hours</dd></center>
            </dt>
        </dl>
    </body>
</html>


