<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up Today!</title>
       <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    
        
     <body id= 'page1'>
        
        <h1><center>Sign Up Today!</center></h1>
        <form action="/dashboard" method="post"><center>
            <input type="text" name="first_name" placeholder="First Name" size="50"> <br><br>
            <input type="text" name="last_name" placeholder="Last Name" size="50"> <br><br>
            <input type="text" name="age" placeholder="Age" size="50"> <br><br>
            Gender:<br>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other<br>
                <input type="radio" name="gender" value="prefer_not_to_say"> Prefer Not to Say<br><br>
            Region: <br>
                <input type="text" name="region" placeholder="Geographical Region" size="50"><br>
                Ex: Northeast, Southheast, Midwest, Southwest, West<br><br>
                <!--<input type="radio" name="region" value="northeast"> Northeast<br>-->
                <!--<input type="radio" name="region" value="southeast"> Southheast<br>-->
                <!--<input type="radio" name="region" value="midwest"> Midwest<br>-->
                <!--<input type="radio" name="region" value="southwest"> Southwest<br>-->
                <!--<input type="radio" name="region" value="west"> West<br><br>-->
            <input type="text" name="cigarettes" placeholder="How many cigarettes on average do you smoke in a day?" size="50"><br>
            Note: 1 pack contains 20 cigarettes<br><br>
            <input type="text" name= "email" placeholder="Email" size="50"><br><br>
            <input type="text" name= "username" placeholder="Username" size="50"><br><br>
            <input type="text" name= "password" placeholder="Password" size="50"><br><br>
            <button type="submit">Submit</button><br>
            <a href="/login">Already a member? Login here!</a>
        </center></form>
        </body>
</html>