<!DOCTYPE html>
<html>
    <head>
        <title>Why Quit Smoking</title>
    </head>
    <body background= "https://static1.squarespace.com/static/586ac29c03596e5605382fe5/5876a3e65016e15c31333943/58af4ce7893fc0411b221f35/1530650766228/Ice+Blue+Watercolor+Ghislaine_Small+copy.jpg?format=2500w">
        <nav class="horizontalNav">
            <a href="/">Home</a> |
            <a><strong>Why Quit Smoking |</strong></a> |
            <a href="/ourmethod">Our Method</a> |
            <a href="/login">Login</a> 
        </nav>
        <center><h1>Why Quit Smoking</h1></center>
        <dl><center><h3>About Nicotine</h3>Nicotine is a chemical that is heavily addictive, although harmless on its own; Nicotine plays a key role in 
            the dependency of tobacco. Nicotine that is ingested in large doses is highly toxic. It can cause a person to have headaches, stomach pains,
            and, in severe cases cause, convulsions, paralysis, and death.</center></dl>
            <dt><h3>Disease(s)</h3></dt>
                <dd>Long term smoking can causes many damaging effects on the body, this includes heart disease, lung cancer, cervical 
                cancer, blood clotting, bronchitis, infertility, the worsening of other illnesses, and more.</dd>
            <dt><h3>Family</h3></dt>
                <dd>Smoker’s have an influence on their families whether it is direct or indirect, By smoking you can directly teach your 
                children to smoke at a younger age. You can also indirectly give them Second Hand Smoking by being around them while you are smoking. In both 
                scenarios it results in someone else’s health declining because of your actions. Smoking also takes a lot of money of of your paycheck that money 
                could have been spent on a family trip, or a fancy dinner.</dd>
            <dt><h3>Convenience</h3></dt>
                <dd>Smoker’s generally have designated areas that limit them where and when to smoke. By quitting, they can have the convenience
                to be able to roam around without having those specific limitations.</dd>
        </dl>
        <br><a href="https://www.medicalnewstoday.com/articles/240820.php" target="_blank">Learn more here.</a>
    </body>
</html>


